extends layout

block content
  h1= title
  p Welcome to #{title}

    form(action='/register', method='post')
        br
        input(type="text", placeholder="email", name="email", value="your@emailhere.com")
        br
        input(type="text", placeholder="number", name="number", value="123456798")
        br
        input(type="submit", value="submit")
